// #####################    FOOTER    ####################

footer {
	min-height: 802px;
	background: url(../img/footer__bg.jpg) no-repeat center;
}

.footer-block {
	padding-top: 75px;
	h3 {
		@extend .ser-header;
		color: $white_color;
		margin-bottom: 136px;
		span {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 108px;
				left: 80px;
				display: inline-block;
				width: 86px;
				height: 2px;
				background-color: $white_color;
			}
		}
	}
}

.social {
	text-align: center;
	margin-bottom: 60px;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 0;
	}
}

.social-item {
	display: inline-block;
	margin-right: 26px;
	&:last-child {
		margin-right: 0;
	}
	a {
		font-size: 24px;
		color: $white_color;
		-webkit-transition: all .3s ease-in-out;
		   -moz-transition: all .3s ease-in-out;
		    -ms-transition: all .3s ease-in-out;
		     -o-transition: all .3s ease-in-out;
		        transition: all .3s ease-in-out;
		&:hover {
			color: darken($white_color, 30%);
		}
	}
}

.footer-form {
	width: 59%;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
	input {
		display: inline-block;
		width: 100%;
		height: 52px;
		border: none;
		border-bottom: 2px solid #afafaf;
		outline: 0;
		font: 400 18px $font_lato;
		color: #676767;
		font-style: italic;
		padding-left: 28px;
		padding-right: 25px;
		background: transparent;
		-webkit-transition: all .2s ease-in-out;
		   -moz-transition: all .2s ease-in-out;
		    -ms-transition: all .2s ease-in-out;
		     -o-transition: all .2s ease-in-out;
		        transition: all .2s ease-in-out;
		&::-webkit-input-placeholder {
			color: #676767;
		}
		&::-moz-placeholder {
			color: #676767;
		}
		&:-ms-input-placeholder {
			color: #676767;
		}
		&:focus {
			border-bottom: 2px solid $white-color;
		}
		&:first-child {
			width: 45%;
			float: left;
		}
		&:nth-child(2) {
			width: 45%;
			float: right;
		}
		&:nth-child(3) {
			margin-top: 89px;
			margin-bottom: 49px;
		}
	}
	button {
		display: block;
		@include button();
		width: 183px;
		background: transparent;
		border: 3px solid $white_color;
		color: $white_color;
		cursor: pointer;
		&:hover {
			background: $white_color;
			color: $black_color;
		}
	}
}